.accordion {
  background: #ffffff;
  border: 1px solid #000000;
  border-radius: 30px;
  overflow: hidden;
  text-align: center;
}

.accordion .accordionItem {
  text-align: left;
}

.accordion .accordionItemContent {
  background-color: yellow;
  max-height: 0;
  overflow: hidden;
  padding-left: 30px;
  transition: all 0.3s ease 0s;
}

.accordion .accordionItemHeader {
  background-color: #ff00ff;
  cursor: pointer;
  padding-left: 30px;
}

.accordion .active.accordionItem .accordionItemHeader {
  background-color: #00ffff;
  font-weight: bold;
}

.accordion .active.accordionItem .accordionItemContent {
  background-color: #00ff00;
  max-height: 2000px;
  transition: all 1.6s ease 0s;
}
